In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://tr.wikipedia.org/wiki/Olimpiyat_Oyunlar%C4%B1%27nda_T%C3%BCrkiye'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [4]:
table = soup.find_all('table')[6]

In [6]:
table.find_all('th')

[<th style="width:6em">Madalya
 </th>,
 <th style="width:12em">Oyunlar
 </th>,
 <th style="width:12em">İsim
 </th>,
 <th>Spor
 </th>,
 <th>Etkinlik
 </th>]

In [7]:
tp_titles = table.find_all('th')

In [9]:
titles = [title.text.strip() for title in tp_titles]

In [10]:
titles

['Madalya', 'Oyunlar', 'İsim', 'Spor', 'Etkinlik']

In [11]:
import pandas as pd

In [12]:
hd = pd.DataFrame(columns=titles)

In [13]:
hd

Empty DataFrame
Columns: [Madalya, Oyunlar, İsim, Spor, Etkinlik]
Index: []

In [14]:
datas = table.find_all('tr')

In [15]:
for row in datas[1:]:
    raw_data = row.find_all('td')
    data1 = [data.text.strip() for data in raw_data]
    lenght = len(hd)
    hd.loc[lenght] = data1

In [16]:
hd

,Madalya,Oyunlar,İsim,Spor,Etkinlik
0,1 Altın,1936 Berlin,"Erkan, YaşarYaşar Erkan",Güreş,Erkekler grekoromen 61 kg
1,3 Bronz,1936 Berlin,"Kireççi, AhmetAhmet Kireççi",Güreş,Erkekler serbest 79 kg
2,1 Altın,1948 Londra,"Akar, NasuhNasuh Akar",Güreş,Erkekler serbest 57 kg
3,1 Altın,1948 Londra,"Bilge, GazanferGazanfer Bilge",Güreş,Erkekler serbest 62 kg
4,1 Altın,1948 Londra,"Atik, CelalCelal Atik",Güreş,Erkekler serbest 67 kg
...,...,...,...,...,...
106,3 Bronz,2024 Paris,Abdullah Yıldırmış Mete Gazoz Ulaş Tümer,Okçuluk,Erkekler takım
107,3 Bronz,2024 Paris,Buse Tosun Çavuşoğlu,Güreş,Kadınlar serbest 68 kg
108,3 Bronz,2024 Paris,Esra Yıldız Kahraman,Boks,Kadınlar tüy sıklet (57 kg)
109,3 Bronz,2024 Paris,Taha Akgül,Güreş,Erkekler serbest 125 kg
110,3 Bronz,2024 Paris,Nafia Kuş,Tekvando,Kadınlar +67 kg

In [17]:
hd.drop(hd.index, inplace=True) #data temizleme

In [18]:
hd.to_excel(r'/Users/hep/Desktop/VSCode/test.xlsx', index=False)